#profiles_show .profile-head .c-brief header h1 {
  position: relative;
  display: inline-block;

  font-family: "Bungee Shade", cursive !important;
  font-size: inherit;          /* НЕ ломаем размеры */
  line-height: 1.1;            /* даём место эффекту */
  padding: 0.15em 0.2em;       /* защита от обрезания */

  overflow: visible;           /* важно */
}

#profiles_show .profile-head .c-brief header h1::before,
#profiles_show .profile-head .c-brief header h1::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;

  pointer-events: none;
  font: inherit;
  line-height: inherit;

  opacity: 0;
}

#profiles_show .profile-head .c-brief header h1 {
  --nick: attr(title);
}

#profiles_show .profile-head .c-brief header h1::before,
#profiles_show .profile-head .c-brief header h1::after {
  content: var(--user-nickname);
}
