#profiles_show .profile-head .c-brief header h1 {
  position: relative;
  display: inline-block;

  /* скрываем оригинальный текст */
  color: transparent !important;

  font-family: "GlitchGoblin", cursive !important;
  font-size: var(--f);
  line-height: 1;

  text-align: center;

  padding-top: 0.1em;
  padding-bottom: 0.15em;

  overflow: hidden;
}
