:root {
  --user-nickname: "qqbitard";

  /* ===== font sizing ===== */
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));

  /* ===== glitch colors ===== */
  --glitch-color-1: #1af0dc;
  --glitch-color-2: #ff00e1;

  /* ===== background for slice masking ===== */
  --bg: transparent;
}
